body {
  font-family: Ubuntu, sans-serif;
  background: #cccccc;
  width: 100%;
}

table {
  border-collapse: collapse;
}
                                          /*  START NAVIGATION  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
    min-width: 10%;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #777777;
    color: white;
}

.active {
    background-color: #FF9400;
    color: black;
}

a#loginhehe {
  position: absolute;
  right: 5%;
  line-height: 45px;
  color: #bf6a04;
  text-decoration: none;
}
a#loginhehe:hover {
  color: white;
}

#toplogo {
  width: 60px;
  vertical-align: middle;
}
                                          /*  ENDE NAVIGATION  */
a {
  color: #bf6a04;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  color: black;
}

.haupttitel {
  padding-top: 10px;
  font-size: 40px;
  text-align: center;
}

hr {
  width: 90%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid black;
  opacity: 0.5;
}

h2 {
  font-size: 24px;
  text-align: center;
}

table.socialtable tr td a img {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

table.socialtable tr td a {
  text-decoration: none;
  color: #bf6a04;
  font-weight: bold;
  font-size: 16px;
}
table.socialtable tr td a:hover {
  color: black;
  opacity: 0.5;
}

::selection {
  color: #ff9400;
  background: white;
}
                                          /*  START RESPONSIVE  */
@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  .logonav {
    width: 100px;
    vertical-align: top;
  }
  table.socialtable tr td a img {
    width: 50px;
    vertical-align: bottom;
    margin: 14px 10px 0 0;
  }
  table.socialtable tr td a {
    font-size: 45px;
    font-weight: normal;
  }
}
