@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');

body {
	background: #dddddd;
	color: #333333;
	font-family: Ubuntu, sans-serif;
	text-align: center;
}

@media only screen and (max-width: 600px) {
	h1 {
	   font-size: 40px;
	}
	h3 {
	   font-size: 28px;
	}
}
