body {
  background: #dddddd;
  font-family: Ubuntu, sans-serif;
  width: 100%;
}
div#navigation table {
  position: fixed;
  top: 0; left: 0;
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

div#navigation table tr td a {
  height: 60px;
  line-height: 60px;
  color: white;
  background: black;
  text-decoration: none;
  width: 100%;
  display: block;
  transition-duration: 0.5s;
  font-size: 16px;
  opacity: 0.7;
}

div#navigation table tr td a:hover {
  color: #ff9400;
}

.logonav {
  width: 60px;
  vertical-align: middle;
}
.logonav:hover {
  opacity: 0.7;
}

.haupttitel {
  padding-top: 80px;
}

hr {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 24px;
  text-align: center;
}

table.socialtable tr td a img {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

table.socialtable tr td a {
  text-decoration: none;
  color: #bf6a04;
  font-weight: bold;
  font-size: 16px;
}
table.socialtable tr td a:hover {
  color: black;
  opacity: 0.5;
}

::selection {
  color: #ff9400;
  background: white;
}

@media only screen and (max-device-width: 480px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  div#navigation table tr td a {
    height: 90px;
    line-height: 90px;
    font-size: 32px;
  }
  .logonav {
    width: 80px;
  }
  table.socialtable tr td a img {
    width: 50px;
    vertical-align: bottom;
    margin: 14px 10px 0 0;
  }
  table.socialtable tr td a {
    font-size: 45px;
    font-weight: normal;
  }
}
