@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,700');
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: Ubuntu, sans-serif;
  font-weight: lighter;
  background: #dddddd;
}
h1, h2 {
  text-align: center;
}
hr {
  width: 80%;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 280px;
  background: url(../img/titelbild.png) no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
p.nope {
  text-align: center;
  color: #ff0000;
  font-weight: bold;
}
.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  width: 70px;
  transition-duration: 0.3s;
}
.logo:hover {
  opacity: 0;
}
.logo2 {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 16px 46px;
  width: 70px;
}
nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #ffffff;
  padding: 0;
  text-align: right;
  margin: 0;
  transition: 1s;
}

nav.black ul {
  background: rgba(0, 0, 0, 0.8);
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  transition-duration: .3s;
}

nav ul li a:hover {
  color: #ff9400;
  border-bottom: 3px solid #ffffff;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #ffffff;
  display: none;
}
a#stats {
  color: #ba6c01;
  text-decoration: none;
  font-weight: bold;
}
a#stats:hover {
  color: black;
}
img.KC {
  height: 50px;
  vertical-align: middle;
  margin-left: 10px;
}
a.KChover {
  opacity: 1;
}
a.KChover:hover {
  opacity: 0.6;
}
table.socialtable tr td a img {
  width: 25px;
  vertical-align: middle;
  margin-right: 10px;
}

table.socialtable tr td a {
  text-decoration: none;
  color: #bf6a04;
  font-weight: bold;
  font-size: 16px;
}
table.socialtable tr td a:hover {
  color: black;
  opacity: 0.5;
}
@media(max-width: 786px) {
  .logo, .logo2 {
    margin: 0;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
  }
  nav ul {
    max-height: 0px;
    background: #000000;
  }
  nav.black ul {
    background: #000000;
  }
  .zeigebitte {
    max-height: 34em;
  }
  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .menu-icon {
    display: block;
  }
  #blibdochda {
    position: fixed;
    right: 20px;
  }
  .komischestrich {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
  }
}
::selection {
  color: #ff9400;
  background: #000000;
}
